*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  border: 2px green solid;
  justify-items: center;
  align-items: center;


}

.cell {
  background-color: rgb(228, 228, 228);
  width: var(--cell-size);
  height: var(--cell-size);
  border: 2px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}


/* OUTER BORDER REMOVAL */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(1n+7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}


/* X AND CIRCLE CREATION */
.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  height: var(--mark-size);
  width: calc(var(--mark-size) * 0.15);
  position: absolute;
}


.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* CICLE */

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  border-radius: 50%;
  position: absolute;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  height: var(--mark-size);
  width: var(--mark-size);
  /* background-color: black; */
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  height: calc(var(--mark-size) * .7);
  width: calc(var(--mark-size) * .7);
  background-color: white;
}


/* WINNING MODAL */
.winning-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 4rem;
  display: none;
}

.winning-message button {
  font-size: 2.5rem;
  background-color: white;
  border: 1px black solid;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border: 1px white solid;
  transition: all .3s;
}

.winning-message.show {
  display: flex;
}